[Unit]
Description=ros_flutter

[Service]
Type=simple
User=agl-driver
EnvironmentFile=/etc/default/flutter
Environment=XDG_RUNTIME_DIR=/run/user/1001/
ExecStart=/usr/bin/flutter-auto -b /usr/share/flutter/ros_flutter/${FLUTTER_VERSION}/${FLUTTER_RUNTIME} --xdg-shell-app-id ros_flutter
